body{
    display: flex;
    
    
}
.main{
    display: flex;
    background-color:plum;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    width: 900px;
    
}

.one{
    height: 500px;
    width: 230px;
    background-color: white;
    border-radius: 20px;
    padding:20px;

}

.dstyle{
    font-size: 40px;
    font-weight: 550;
}

.light{
    
    color: rgba(0, 0, 0, 0.3);
}

.t2{
    color: orange;
    font-size: 23px;
    font-weight: 600;
}

.b{
    color: rgba(0, 0, 0, 0.3);
    border: 0px solid ;
    text-align: center;
    width:200px;
    height:35px;
    border-radius: 8px;
}

.t3{
    color: skyblue;
    font-size: 23px;
    font-weight: 600;
}

.c{
    background-color: white;
    color: rgba(0, 0, 0, 0.3);
    border: 1px solid ;
    text-align: center;
    width:200px;
    height:35px;
    border-radius: 8px;
}

.t4{
    color: rgb(53, 194, 111);
    font-size: 23px;
    font-weight: 600;
}

.d{
    background-color: rgb(53, 194, 111);
    color: white;
    border: 1px solid ;
    text-align: center;
    width:200px;
    height:35px;
    border-radius: 8px;
}
